# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.egg
*.egg-info/
dist/
build/
*.log

# Virtualenv
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# PlantVillage folder
PlantVillage/

# Other common file types
*.bak
*.swp

wrong_predictions_32_width/
plant_disease_model_256_2layer_16initial.pth
plant_disease_model_256_3layer_32initial.pth
